[Unit]
Description=Preload Home Assistant Containers
After=docker.service
Requires=docker.service
Before=hassio-supervisor.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/preload-containers.sh
StandardOutput=journal
StandardError=journal
TimeoutStartSec=300

[Install]
WantedBy=multi-user.target
