[Unit]
Description=Load Custom Home Assistant Core Image
After=docker.service mnt-data.mount
Requires=docker.service
Before=hassio-supervisor.service
DefaultDependencies=false

[Service]
Type=oneshot
ExecStart=/usr/bin/ha-custom-image-loader.sh
RemainAfterExit=yes
TimeoutStartSec=300

[Install]
WantedBy=multi-user.target
